/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree 
 *= require font-awesome
*/

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

